/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-6579989182642834a57b.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a56af2da5e7f05870dd8.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-688fa24bca80c9190073.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-10T02-43-41-0167.json
/cmake-build-debug/.cmake/api/v1/reply/target-main.c-Debug-c1a879726fdd7af92b6d.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-fb1c78a03eccf747666b.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/main.c.dir/main.c.obj
/cmake-build-debug/CMakeFiles/main.c.dir/my_thread.c.obj
/cmake-build-debug/CMakeFiles/my_thread.dir/main.c.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/main.c.exe
/cmake-build-debug/my_thread.exe
/.idea/modules.xml
/.idea/my_thread.iml
/.idea/misc.xml
/.idea/vcs.xml
